doctype html
html
  head
    title Neon Invaders
    link(rel="stylesheet" href="index.css")
  body
    canvas
    .pause
      .text PAUSED
      
    .fps
      .frames FPS: 
      .min MIN: 
      .max MAX: 
      
    script(src="index.js")
